---
layout: archive
title: "Poeple"
permalink: /people/
author_profile: true
---


<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>


<p>I have been very privileged to work with many talented young researchers and be supported by colleagues in Oxford HCC (see <a href="http://hcc.cs.ox.ac.uk">HCC page</a>).</p> 


<p>In addition to UG and Msc students (<a href="https://www.cs.ox.ac.uk/teaching/courses/projects/">students projects</a>), I also supervise DPhil students.</p>

<p>If you are interested to learn more about applying for D.Phil (PhD) in Oxford, please see the <a href="https://www.cs.ox.ac.uk/admissions/graduate/researchstudentships.html">studentships<a> page for further details.  Should you consider applying for a doctoral position in our group, please do not hesitate to get in touch.</p>


{% include base_path %}


{% for post in site.people reversed %}
  {% include archive-single.html %}
{% endfor %}
